
/************** GENERAL PAGE STYLING **************/
body, html{
    /*background: lightblue; 
  	background: -webkit-linear-gradient(141deg, #0fb8ad, #1fc8db, #2cb5e8); 
  	background: -o-linear-gradient(141deg, #0fb8ad, #1fc8db, #2cb5e8); 
  	background: -moz-linear-gradient(141deg, #0fb8ad, #1fc8db, #2cb5e8); 
  	background: linear-gradient(141deg, #0fb8ad, #1fc8db, #2cb5e8); */
    background-image: "images/0.jpg";
    background-size: 100% 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h1 {
	text-align: center; 
	color: white;
}

*{
	box-sizing: border-box;
}

[class*="col"] {
    padding: 15px;
    width: 33.33%;
    height: 100%;
    float: left;
    position: relative;
}

[class*="row"] {
	height: 50%;
}

/************** To Do List Styling **************/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgba(238, 238, 238, 0.8);
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: rgba(249, 249, 249, 0.8);
}

/* Darker background-color on hover */
ul li:hover {
    background: rgba(221, 221, 221, 0.8);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: rgba(136, 136, 136, 0.8);
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
.header {
    background-color: rgba(244, 67, 54, 0.8);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

.toDoList {
    display: none;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: left;
    width: 100%;
}

/* Style the input */
.todoInput {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

.toDo {
    padding: 10px;
    width: 30%;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.toDo:hover {
    background: rgba(187, 187, 187, 0.4);
}


/************** Weather Styling **************/
.weatherButton {
    padding: 10px;
    width: 30%;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.weatherButton:hover {
    background: rgba(187, 187, 187, 0.4);
}

.forecast{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    text-align: center;
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
}


#day1, #day2 {
    border-right: 1px solid rgba(0, 0, 0, 0.3);;
}

.weather {
    display: none;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    float: left;
    width: 120%;
    height: 275px;
}

.temp{
    font-size: 35pt;
    margin: 20px 10px 10px 20px;
}


/************** Class List Styling **************/

.classButton {
    padding: 10px;
    width: 30%;
    background: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.classButton:hover {
    background: rgba(187, 187, 187, 0.4);
}

.classes {
    display: none;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    float: left;
    width: 100%;
}

.addClass {
    display: none;
    min-height: 34px;
}

.addButton {
    border-radius: 28px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    padding: 4px 8px;
    text-decoration: none;
}

.addButton:active {
    position:relative;
    top:1px;
}

.addButton:hover{
    background: rgba(187, 187, 187, 0.4);
}

.button {
    text-align: right;
    padding: 3px;
}

.classInput {
    border: none;
    background: rgba(255, 255, 255, 0.8);
    width: 80%;
    padding: 8px;
    float: left;
    font-size: 16px;
}


.addClassBtn {
    padding: 8px;
    width: 20%;
    background: rgba(217, 217, 217, 0.8);
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #bbb;
}

/*styling of the courses */
.courseTitle {
    font-size: 30pt;
    color: white;
    background: rgba(71, 190, 255, 0.8);
    padding-top: 1px;
    margin: 1px 0px 0px 0px;
}

.courseInput {
    border: none;
    width: 55%;
    padding: 8px;
    float: left;
    font-size: 16px;
}

input[type=date] {
  height: 34px;
  margin: 0 auto;
  width: 30%;
  font-family: arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  padding: 0 3px;
  color: #555;
  float: left;
  
  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
    color: #fff
  }
  &::-webkit-inner-spin-button {
    height: 30px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;
    
    &:hover {
      background-color: lighten(#2f2f2f,40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}

.courseBtn{
    padding: 8px;
    width: 15%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.courseBtn:hover {
    background-color: #bbb;
}

.closeCourseToDo {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.closeCourseToDo:hover {
    background-color: #f44336;
    color: white;
}


